---
import { getCollection } from "astro:content";
import PostCard from "@components/PostCard.astro";
import BaseLayout from "@layouts/BaseLayout.astro";

const pageTitle = "Blog";
const allPosts = await getCollection("posts");
const sortedPosts = allPosts.sort((a, b) => {
  return (
    new Date(b.data.pubDate).getTime() - new Date(a.data.pubDate).getTime()
  );
});

const date = new Date("2023-01-23T01:23:45Z");
const formated = new Intl.DateTimeFormat("ja-JP", {
  dateStyle: "medium",
  timeStyle: "medium",
  timeZone: "Asia/Tokyo",
}).format(date);
console.log(formated);
---

<BaseLayout title={pageTitle}>
  <ul class="flex flex-col gap-4">
    {
      sortedPosts.map((post) => (
        <li class="py-4">
          <PostCard
            pubDate={post.data.pubDate}
            url={`/posts/${post.slug}`}
            title={post.data.title}
            tags={post.data.tags}
            description={post.data.description}
          />
        </li>
      ))
    }
  </ul>
</BaseLayout>
