---
interface Frontmatter {
  title: string;
  pubDate: string;
  description: string;
  tags: string[];
}
import MyLayout from '@layouts/MyLayout.astro';

const pageTitle = 'Blog';
const allPosts = await Astro.glob<Frontmatter>('../pages/posts/*.md');
---

<MyLayout title={pageTitle}>
  <ul class="flex flex-col gap-8">
    {
      allPosts.map((post) => (
        <li class="py-4">
          <article class="flex flex-col gap-2">
            <time class="text-secondary">{post.frontmatter.pubDate}</time>
            <a href={post.url}>
              <h2 class="text-primary text-2xl font-bold leading-8 tracking-tight">
                {post.frontmatter.title}
              </h2>
            </a>
            <div class="flex flex-wrap gap-2">
              {post.frontmatter.tags.map((tag) => (
                <span class="text-accent">{tag}</span>
              ))}
            </div>
            <div class="prose max-w-none">
              <p class="text-secondary">{post.frontmatter.description}</p>
            </div>
          </article>
        </li>
      ))
    }
  </ul>
</MyLayout>
