---
import { getCollection } from 'astro:content';
import BaseLayout from '@layouts/BaseLayout.astro';

const pageTitle = 'Blog';
const allPosts = await getCollection('posts');
---

<BaseLayout title={pageTitle}>
  <ul class="flex flex-col gap-8">
    {
      allPosts.map((post) => (
        <li class="py-4">
          <article class="flex flex-col gap-2">
            <time class="text-secondary">{post.data.pubDate}</time>
            <a href={`/posts/${post.slug}/`}>
              <h2 class="text-primary text-2xl font-bold leading-8 tracking-tight">
                {post.data.title}
              </h2>
            </a>
            <div class="flex flex-wrap gap-2">
              {post.data.tags.map((tag) => (
                <span class="text-accent">{tag}</span>
              ))}
            </div>
            <div class="prose max-w-none">
              <p class="text-secondary">{post.data.description}</p>
            </div>
          </article>
        </li>
      ))
    }
  </ul>
</BaseLayout>
