---
import Badge from "./Tag.astro";
import Timestamp from "./Timestamp.astro";
import clsx from "clsx";

type Props = {
  pubDate: Date;
  url: string;
  title: string;
  tags: string[];
  description: string;
};

const { pubDate, url, title, tags, description } = Astro.props;
---

<li>
  <article class="flex flex-col gap-4">
    <Timestamp date={pubDate} />
    <div class="flex flex-col gap-2">
      <a href={url}>
        <h2
          class={clsx(
            ["text-2xl", "font-bold", "leading-8", "text-primary"],
            ["hover:underline", "hover:underline-offset-4"],
          )}
        >
          {title}
        </h2>
      </a>
      <p class="text-secondary">{description}</p>
    </div>
    <div class="flex flex-wrap gap-x-2">
      {tags.map((tag) => <Badge tag={tag} />)}
    </div>
  </article>
</li>
